html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 70px;
}

.footer { 
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}

.not-found{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}